@import url('https://fonts.googleapis.com/css?family=Poppins:wght@300,400,500,600,700,800,900&display=swap');

* {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;

}

:root {
    --bg-color: #fde8ff;
    --text-color: #020003;
    --sbg-color: #c988ba;

}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
}

.btn{
    cursor: default;
    color: var(--text-color);
    background-color: var(--sbg-color);
    border-radius: .5rem;
    margin-right: 1rem;
}